<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Student</title>
  <style>
    form { 
    width: 300px; margin: auto;
    }
    label, input {
         display: block; width: 100%; margin-bottom: 10px;
         }
    button { 
        
        padding: 8px 15px; 
    }
  </style>
</head>
<body>
  <h2>Add New Student</h2>
  <form action="/add-content" method="POST">
    <label>Name:</label>
    <input type="text" name="name" required>

    <label>Age:</label>
    <input type="number" name="age" required>

    <label>Email:</label>
    <input type="email" name="email" required>

    <button type="submit">Add</button>
    <button onclick="window.location.href='/'" type="button">Cancel</button>
  </form>
</body>
</html> -->
