<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>User Details</title>
</head>
<body>
  <h1>User Details</h1>

  <p><strong>ID:</strong> <%= data.id %></p>
  <p><strong>Name:</strong> <%= data.name %></p>
  <p><strong>Email:</strong> <%= data.email %></p>
  <p><strong>Phone:</strong> <%= data.phone %></p>

  <button onclick="window.location.href='/api/user/get-all-user'">Back</button>
</body>
</html> -->
