<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express js file</title>
</head>
<body>
    <h1>welcome to the viewport</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur nesciunt ipsum eligendi aut magnam beatae officiis ullam eius ipsam? Aperiam quisquam tempora possimus, facilis explicabo numquam consectetur aliquid iusto officiis soluta eos ea sunt odit quia, minima enim eum provident velit incidunt beatae! Autem magnam error asperiores debitis rem neque, ipsa cupiditate magni, repellat vel tempore perspiciatis ullam quisquam amet dicta, recusandae repellendus corrupti vero. Accusamus distinctio neque natus ex doloribus quo sunt modi blanditiis corrupti illo! Velit voluptatum provident voluptate debitis, quidem facilis architecto repellendus ipsum corrupti consequatur voluptates ducimus, iusto magnam facere? Quas distinctio asperiores labore explicabo?</p>
</body>
</html>